body {
  background: -webkit-linear-gradient(-45deg, #8363a1 0%, #74a8c3 100%);
  background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.background-image {
  background-image: url(images/mobile-back-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  max-height: 220vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}

/* TOP MENU */

.menu-wrapper {
  width: 96vw;
  justify-content: space-between;
  align-items: center;
  margin: 15 auto 0 auto;
}

.menu-wrapper_left {
  width: 52vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper_right {
  width: 44vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.logo p {
  color: white;
  margin-top: -10;
  font-style: italic;
  font-family: serif;
  letter-spacing: 2;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-family: monospace;
  letter-spacing: 2;
}

li {
  overflow-wrap: break-word;
}

#logo-pic {
  height: 45px;
}

/* HOLIDAYS */

.upcoming_holidays {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  position: relative;
}

#collapsible_holidays {
  position: absolute;
  bottom: -130px;
  right: -7px;
  width: 250px;
  height: 120px;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
}

.collapsible_holidays-text {
  padding-left: 7px;
}

#expand-holidays {
  width: 15px;
  height: 15px;
  padding-left: 5px;
  cursor: pointer;
}

/* WEATHER */

.weather-gen {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#collapsible_weather {
  position: absolute;
  flex-direction: column;
  align-content: middle;
  justify-content: space-between;
  left: 200px;
  bottom: -425px;
  width: 250px;
  height: 430px;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
}

.collapible-weather-text {
  display: inline-block;
}

#showmore-weather {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

#showmore-weather-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

#showmore-weather-resp-text {
  color: lightseagreen;
  font-size: 13px;
  cursor: pointer;
}

#expand-holidays-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#expand-holidays-resp-text {
  color: red;
  font-size: 13px;
  cursor: pointer;
}

.more-weather-icons {
  display: inline-block;
}

.more-weather-wrapper {
  display: flex;
  flex-direction: row;
  align-content: middle;
  justify-content: center;
}

/* LOGIN */

#top-welcome-message {
  color: yellow;
  display: inline-block;
}

#credentials-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: row;
}

#btn-login-txt {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
  border-left: solid 0.3px #909090;
}

#btn-login-txt:hover {
  color: orange;
}

#btn-register-txt {
  margin-right: 15px;
  padding-right: 15px;
  border-right: solid 0.3px #909090;
  cursor: pointer;
}

#btn-register-txt:hover {
  color: orange;
}

#login-wrapper {
  position: absolute;
  top: 53px;
  left: 35px;
  z-index: 20;
  display: none;
  color: black;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: white;
  border-radius: 5px;
  width: 240px;
  min-height: 200px;
  max-height: 250px;
}

#signin-note {
  color: red;
  text-align: center;
}

#register-note {
  color: red;
  text-align: center;
}

.login-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -9px;
  margin-top: -9px;
}

/* REGISTER */

#register-wrapper {
  position: absolute;
  top: 53px;
  left: 35;
  z-index: 20;
  display: none;
  color: black;
}

.register-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background: white;
  border-radius: 5px;
  width: 240px;
  min-height: 250px;
  max-height: 300px;
}

.register-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 87px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -9px;
  margin-top: -9px;
}

/* CALENDAR */

.box-calendar-main-wrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 14% 16% 13% 57%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 35vw;
  height: 470px;
  margin: auto;
  border-radius: 5px;
}

.year_month_gen {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#quickadd_stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: blueviolet;
  margin-top: 12px;
  margin-bottom: 3px;
}

.weekdays_gen {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
}

.weekdays_item {
  text-align: center;
}

.month_days_gen {
  display: grid;
  width: 35vw;
  grid-template-columns: repeat(7, auto);
  justify-items: center;
  align-items: center;
}

.day_in_month_item {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.selected_month_year {
  min-width: 150px;
  max-width: 150px;
}

#selected_month {
  padding-right: 5px;
}

#backarrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-right: 7px;
  cursor: pointer;
}

#nextarrow {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-left: 7px;
  cursor: pointer;
}

/* WELCOME*/

.welcome_text {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.welcome_texts {
  color: yellow;
  display: inline-block;
}

/* QUOTES*/

#quotes_text {
  color: white;
  font-size: 17px;
  font-family: cursive;
  font-style: italic;
  text-align: center;
  margin: auto;
  align-items: center;
}

/* FORM BOX*/

#form-container {
  display: none;
  flex-direction: row;
  width: 50vw;
  min-height: 250px;
  max-height: 600px;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(250, 250, 250, 0.8);
}

#delete_todo_form {
  display: none;
}

#checkbox_todo {
  margin-left: 7px;
}

.form-sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
}

.form-sub-wrapper-2 {
  display: flex;
  flex-direction: row;
}

.form-item {
  padding: 8px;
}

.form-item-2 {
  padding: 8px;
  margin-right: 7px;
}

.flex-form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* NOTES BOX*/

.card-weather-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#weather-city {
  margin-left: 5px;
}

.notes-box-wrapper {
  display: none;
  flex-direction: column;
  width: 50vw;
  min-height: 350px;
  max-height: 800px;
  margin: 50px auto auto auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  background: lightgray;
}

.notes-box-main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  word-break: break-all;
}

.mynotes-gen {
  margin: 25px 15px 50px 15px;
  padding: 15px 10px 5px 10px;
  width: 250px;
  background-color: white;
}

#mynotes {
  width: 150px;
}

.buttons-item {
  margin: 50px 15px 50px 15px;
  padding: 25px;
  width: 200px;
  background-color: white;
}

.notes-box-top_gen {
  width: 50vw;
  background-blend-mode: overlay;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  height: 100px;
}

#notes-box-top-right-text {
  padding-right: 7px;
}

.notes-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 16px;
}

.close-save {
  cursor: pointer;
  width: 24;
  padding-right: 7px;
}

.close-save:hover {
  transform: scale(1.1);
}

.save_exit_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7px;
}

/* PROGRESS BAR */

#progressbar {
  border-radius: 8px;
  width: 100%;
  height: 27px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}

#progressbar_background {
  background: #a4a4a4;
  width: 100%;
  display: flex;
  margin-top: 15px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

/* TODOS AND ICONS */

i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 7px;
}

.icon-task {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.logo_done {
  margin-left: 5px;
  display: none;
}

#task_list,
#task_list_output {
  padding-inline-start: 0px;
}

#task_list > li,
#task_list_output > li {
  display: inline-block;
}

#task_list_output > li {
  line-height: 2;
  border-bottom: solid 0.3px #f2f2f2;
}

/* STATS*/

.stats_main_logo_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
}

.quick-add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-radius: 40px;
  cursor: pointer;
  text-align: middle;
}

.stats-wrapper {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 520px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
}

#close_stats {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#glow_dot {
  position: absolute;
  display: block;
  top: 12px;
  right: 13px;
  width: 5px;
  height: 5px;
  background-color: grey;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px grey;
  -webkit-box-shadow: 0 0 5px grey;
  box-shadow: 0px 0px 5px grey;
}

.lightblue {
  position: relative;
  display: inline-block;
  color: #c3e3f0;
  font-size: 13px;
  padding-top: 4px;
  text-align: center;
}

.lightblue .tooltip_stats {
  visibility: hidden;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -7px;
  right: 40px;
}

.lightblue .tooltip_stats::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent grey;
}

.lightblue:hover .tooltip_stats {
  visibility: visible;
}

/* BUTTONS*/

#close-form {
  padding: 7px;
}

.submit-btn {
  padding: 7px;
}

.right-section-day {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  background: transparent;
  margin: 25px 15px 50px 15px;
}

.add-todo-day {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  align-content: space-between;
}

.button_day {
  padding: 3px;
  background: white;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.button_day_2 {
  padding: 3px;
  background: white;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.button_day:nth-child(3):hover {
  background-color: red;
}

.button_day:nth-child(2):hover {
  background-color: green;
}

.button_day_2:hover {
  background-color: green;
}

/* INPUTS */

input[type="checkbox"] {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #8e9eab;
  display: inline-block;
  outline: 0;
  margin-bottom: -0.1px;
}

input[type="checkbox"]:checked {
  background-color: orange;
}

input[type="text"] {
  font-size: 16px;
}

input[type="text"] {
  width: 150px;
}

input[type="username"] {
  width: 200px;
  height: 30px;
  background-image: url(images/envelope.png);
  background-color: #e6e6e6;
  border: none;
  border-radius: 15px;
  background-position: 20px;
  background-repeat: no-repeat;
}

input[type="password"] {
  width: 200px;
  height: 30px;
  background-image: url(images/locked-padlock.png);
  background-color: #e6e6e6;
  border: none;
  border-radius: 15px;
  background-position: 20px;
  background-repeat: no-repeat;
}

input[type="name"] {
  width: 200px;
  height: 30px;
  background-image: url(images/user.png);
  background-color: #e6e6e6;
  border: none;
  border-radius: 15px;
  background-position: 20px;
  background-repeat: no-repeat;
}

input[type="submit"] {
  margin-bottom: 10px;
  margin-top: 5px;
}

input {
  text-align: center;
}

label[for="username"] {
  margin-top: 10px;
}

input:focus {
  outline: none;
}

/* RESPONSIVE */

.menu-wrapper-responsive {
  width: 100vw;
  background-color: #474a51;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 10px 0px 10px 0px;
}

#collapsible_weather_responsive {
  position: fixed;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 500px;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
}

#collapsible_holidays_responsive {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#collapsible_weather_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#credentials-pop-up-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#credentials-wrapper-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.menu_left_icon {
  width: 30px;
  height: 30px;
  padding: 0 10px 2px 10px;
  cursor: pointer;
}

#credentials-wrapper-text {
  color: yellow;
  font-size: 13px;
  cursor: pointer;
}

#credentials-pop-up {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  top: 0;
  z-index: 300;
}

#signorregister {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  align-items: center;
  justify-content: space-between;
}

#signorregister_form {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  align-items: stretch;
  justify-content: space-between;
}

#collapsible_holidays_responsive_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#btn-login-txt-responsive {
  font-weight: 900;
  transform: scale(1.1);
  padding: 10px;
  cursor: pointer;
}

#btn-register-txt-responsive {
  padding: 10px;
  cursor: pointer;
}

#signin-button {
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background: #57b846;
  height: 30px;
  width: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}

#register-button {
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background: #4267b2;
  height: 30px;
  width: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* MEDIA QUERIES IN PROGRESS*/

/* BETWEEN 980 and 1150*/

@media only screen and (min-width: 980px) and (max-width: 1150px) {
  .box-calendar-main-wrapper {
    width: 50vw;
  }

  .month_days_gen {
    width: 50vw;
  }

  .menu-wrapper_left {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .menu-wrapper_right {
    width: 50vw;
  }
}

/* MORE THAN 980*/

@media only screen and (min-width: 980px) {
  .menu-wrapper-responsive {
    display: none;
  }

  .menu-wrapper {
    display: flex;
  }
}

/* UP TO 980*/

@media only screen and (max-width: 980px) {
  .menu-wrapper-responsive {
    display: flex;
    height: 5vh;
  }

  .menu-wrapper {
    display: none;
  }

  .box-calendar-main-wrapper {
    width: 70vw;
    height: 60vh;
  }

  .month_days_gen {
    width: 70vw;
  }

  .stats-wrapper {
    width: 100vw;
  }

  #signin-button {
    height: 35px;
    width: 150px;
    margin-top: 30px;
  }

  #register-button {
    height: 35px;
    width: 150px;
    margin-top: 30px;
  }

  .logo {
    padding-left: 10px;
  }

  .notes-box-top_gen {
    width: 75vw;
  }
  
  .notes-box-wrapper {
    width: 75vw;
  }



}

/* UP TO 680*/

@media only screen and (max-width: 680px) {
  
  .stats_main_logo_wrapper {
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
  }

  .quick-add-wrapper {
    padding: 5px 15px 5px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 40px;
  }

  .box-calendar-main-wrapper {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 80vh;
    border-radius: 0;
  }

  .month_days_gen {
    width: 100vw;
  }

  .menu-wrapper-responsive {
    height: 10vh;
  }

  #collapsible_weather_responsive {
    width: 100vw;
  }

  .stats-wrapper {
    width: 100vw;
  }

  #credentials-pop-up {
    width: 100vw;
  }

  #form-container {
    
    width: 100vw;
    
  }

  #quotes_text {
    display: none;
  }

  .notes-box-top_gen {
    width: 100vw;
  }
  
  .notes-box-wrapper {
    width: 100vw;
  }
}

/* UP TO 320*/

@media only screen and (max-width: 320px) {
  .menu_left_icon {
    width: 20px;
    height: 20px;
    padding: 0 5px 2px 5px;
  }

  #logo-pic {
    height: 35px;
  }

  #credentials-wrapper-text {
    font-size: 12px;
  }

  #expand-holidays-resp-text {
    font-size: 12px;
  }

  #showmore-weather-resp-text {
    font-size: 12px;
  }

  
}

/* COLLAPSIBLE WEATHER ON MOZILLA */

@-moz-document url-prefix() {
  #collapsible_weather {
    bottom: -500px;
    height: 505px;
  }
}
