// ROTATE ICONS AND DAY-TYPE ICON

.change-day {
  opacity: 0.7;
  cursor: pointer;
  @include size(16px);
  &--left {
    transform: rotate(90deg);
    margin-right: 7px;
  }
  &--right {
    transform: rotate(-90deg);
  }
  &__icon {
    @include size(44px);
    padding-right: 7px;
  }
}
