/* MAIN WRAPPER AND MENU*/
  

  .day-wrapper {
    position: relative;
    display: none;
    flex-direction: column;
    width: 50vw;
    min-height: 200px;
    max-height: 1000px;
    margin: 50px auto auto auto;
    background-color: rgba(250, 250, 250, 0.8);
    @media only screen and (max-width: $bp-hands-wide) {
      width: 70vw;
    }
    @media only screen and (max-width: $bp-hands) {
      width: 100vw;
      height:80vh;
      margin-top: 0px;
    }

    &__menu {
      position: relative;
      color: white;
      @include flexbox;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: white;
      height: 70px;
    }

    &__menu-left {
      @include flexbox;
      flex-direction: row;
      height: 100%;
      width: 55%;
      background-color: $day-menu-blue;
      justify-content: space-around;
      align-items: center;
      border-right: 1px solid white;
      box-sizing: border-box;
    }

    &__menu-center {
      height: 100%;
      background-color: $day-menu-blue;
      width: calc(45% - 60px);
      box-sizing: border-box;
      position: relative;
      @include flexbox;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        .menu-center__dropdown {
          display: block;
        }
      }
    }
    &__menu-right {
      @include flexbox;
      flex-direction: column;
      justify-content: center;
      width: 60px;
      height: 100%;
    }
  }

//MENU LEFT
  .menu-left {
    &__text { 
      padding-left: 7px;
    }
    &__daytype {
      @include flexbox;
      align-items: center;
      justify-content: middle;
    }
  }

//MENU CENTER

.menu-center {
  
  &__text {
    background-color: $day-menu-blue;
    color: white;
    border: none;
    text-align: center;
    }

  &__dropdown {
    display: none;
    @include position(absolute, $top: 60px);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    }

  &__dropdown-item {
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    @include focus-dropdown;
    }
}

//MENU RIGHT

.menu-right-button {
    @include button;
    width: 100%;
    height: 50%;
    color: white;
    &:hover { @include focus; }
    &--delete {
      background-color: #E8E8E8;
    }
    &--done {
      background-color: #F8F8F8;
    }
    &__icon { @include size(20px); }
}


.card-weather-wrapper {
  @include flexbox;
  justify-content: space-between;
  align-items: center;
}

#weather-city {
  margin-left: 5px;
}
