/* FORM BOTTOM BUTTONS */

.form-bottom-buttons {

    &__item {
        padding: 8px;
        width: 50%;
        @include flexbox;
        align-items: center;
        justify-content: center;  
    }
    &__item-button {
      @include button;
      border-radius: 20px;
      padding: 7px;
      width: 200px;
      &:hover {
        @include focus;
      }
      &--submit {
        background-color: $submit-green;
      }
      &--close {
        background-color: $delete-red;
      }
    }
  }

  #close-form {
    padding: 7px;
    width: 90%;
  }
