
  //DYNAMIC LOGIN BOX

  .login-box {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: white;
    border-radius: 5px;
    width: 240px;
    min-height: 220px;
    max-height: 270px;
  
    &:after {
      content: "";
      @include position(absolute, $top:0, $left: 25px);
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom-color: white;
      border-top: 0;
      margin-left: -9px;
      margin-top: -9px;
    }
  }
  
  #signin-note {
    @include red-note;
  }
  
  //DYNAMIC REGISTER BOX
  
  .register-box {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background: white;
    border-radius: 5px;
    width: 240px;
    min-height: 250px;
    max-height: 300px;
  
    &:after {
    content: "";
    @include position(absolute, $top:0, $left: 87px);
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -9px;
    margin-top: -9px;
    }
  }
  
  #register-note {
    @include red-note;
  }

//LOGIN AND REGISTER BUTTONS

.profile-button {
  @include button-generic;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  width: 100px;
  border-radius: 15px;
  height: 30px;
  &:hover { @include focus; }
  @media only screen and (max-width: $bp-hands-wide) {
    height: 40px;
    width: 200px;
    margin-top: 30px;
  }
  &--signin {
    background: #57b846;
  }
  &--register {
    background: #4267b2;
  }
}
