
  /* FORM SUBMIT BOX - GENERAL*/

.form-submit-wrapper {

  display: none;
  flex-direction: column;
  width: 40vw;
  min-height: 250px;
  max-height: 600px;
  justify-content: space-around;
  align-items: baseline;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(250, 250, 250, 0.8);
  @media only screen and (max-width: $bp-hands-wide) {
    width: 70vw;
  }
  @media only screen and (max-width: $bp-hands) {
    width: 100vw;
    margin-top: 0px;
  }

  &__columns {
    @include flexbox;
    flex-direction: row;
    width: 40vw;
    @media only screen and (max-width: $bp-hands-wide) {
      width: 70vw; 
    }
    @media only screen and (max-width: $bp-hands) {
      width: 100vw;
      min-height: 40vh;
    }
  }

  &__buttons {
    @include flexbox;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    &__item {
    
        padding: 8px;
        width: 50%;
        @include flexbox;
        align-items: center;
        justify-content: center;

        &__submit {
          @include button;
          border-radius: 20px;
          padding: 7px;
          width: 200px;
          background-color: #92b558;
          &:hover {
            @include focus;
          }

        }

        &__close {
          @include button;
          padding: 7px;
          width: 200px;
          background-color: #e15d44;
          border-radius: 20px;
          &:hover {
            @include focus;
          }

        }
    
    }
  }
}

  /* CREATE TODO LIST*/

.create-list-wrapper {
  @include flexbox;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 15px;
  width: 70%;

  &__header {
      background: rgba(0, 0, 0, 0.3);
      color: white;
      border: none;
      text-align: center;
      padding-top: 16px;
      padding-bottom: 16px;
      width: 100%;
  }

  &__buttons-wrapper {
      
    @include flexbox;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 20px;

    &__add {
      @include button;
      width: 50%;
      background-color: #6f9fd8;
      &:hover {
        @include focus;
      }
    }

    &__type {
      @include flexbox;
      width: 40%;
      height: 40px;
      flex-direction: column;
      margin-bottom: 15px;

      &__selected {
        @include flexbox;
        align-items: center;
        justify-content: center;
        color: black;
        width: 100%;
        height: 60%;
        font-size: 0.9rem;
        background-color: white;

      }
    }

    &__delete {
      width: 10%;
      display: none;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #e15d44;
      @include button-generic;
      &:hover {
        @include focus;
      }

      &__icon {
        @include size(18px);
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}


/* CRETAE DAY TYPE*/

.create-daytype-wrapper {
  @include flexbox;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  width: 30%;

  &__header {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    width: 100%;
    text-align: center;
  }

  &__item {
    padding: 8px;
    @include flexbox;
    align-items: center;
    justify-content: center;
  }
}
  
/* INPUT - TYPE OF DAY */
 
.daytype-input{
  @include x-appearance (none);
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  @include size(20px);
  border-radius: 50px;   
  margin-right: 7px;
  @include button-generic;

  &:checked::before{
    content: '';
    display: block;
    width: 3.5px;
    height: 7px;
    margin-left: 7px;
    margin-top: 4px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); 
  }

  &:hover{
    background-color: #f7f7f7;
  }
  &:checked {
    background-color: #6f9fd8;
  }
}

/*DROPDOWN*/

.form-submit-dropdown {
  position: relative;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height:40%;
  text-align: center;

  &__button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 100%;
    @include button-generic;
  }

  &__list {
    display: none;
    @include position (absolute, $bottom: -203px);
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__list-item {
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    @include focus-dropdown;

  }
}