 
  
  /* MENU RESPONSIVE */
  
  .menu-resp-wrapper {
    width: 100vw;
    background-color: #474a51;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 10px 0px 10px 0px;
    @media only screen and (min-width: $bp-hands-wide) {
      display: none;
    }
    @media only screen and (max-width: $bp-hands-wide) {
      @include flexbox;
      height: 5vh;
    }
    @media only screen and (max-width: $bp-hands) {
      height: 10vh;
    }

    &__left {
      width: 56%;
      @include flexbox;
      justify-content: space-between;
      align-items: center;
      @media only screen and (min-width: $bp-hands-wide) and (max-width: $bp-lap) {
        flex-direction: row-reverse;
        justify-content: flex-end;

      &__logo {

        @include flexbox;
        align-items: center;
        padding-right: 20px;

        @media only screen and (max-width: $bp-hands-wide) {
          padding-left: 10px;
          }
        }
      }

    }

    &__right {

      width: 44%;
      @include flexbox;
      justify-content: flex-end;
      align-items: center;
      margin-right: 30px;
      @media only screen and (min-width: $bp-hands-wide) and (max-width: $bp-lap) {
        width: 50vw;    
      }
      @media only screen and (max-width: $bp-hands) {
        margin-right: 0px;

      }

      &__sub {
        color: white;
        position: relative;
        @include flexbox;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // PROFILE

  .profile-resp-wrapper {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

    &__icon {

      @include size(30px);
      padding: 0 10px 2px 10px;
      cursor: pointer;
      @media only screen and (max-width: $bp-palm) {
        @include size(20px);
        padding: 0 5px 2px 5px;
      }   
    }

    &__text {
      color: yellow;
      font-size: 13px;
      cursor: pointer;
      @media only screen and (max-width: $bp-palm) {
        font-size: 12px;
      }
    }
  }
  
  //WEATHER (showmore-weather-responsive)

  .weather-resp-wrapper {
    @include flexbox;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

    &__icon {
      @include size(30px);
      padding: 0 10px 2px 10px;
      cursor: pointer;
      @media only screen and (max-width: $bp-palm) {
        @include size(20px);
        padding: 0 5px 2px 5px;
      }
    }

    &__text {
      color: lightseagreen;
      font-size: 13px;
      cursor: pointer;
      @media only screen and (max-width: $bp-palm) {
        font-size: 12px;
      }
    }
  }

  .weather-collapsible-wrapper {
      @include position(fixed, $top:0, $right:0, $bottom:0, $left:0);
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
      height: 500px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      opacity: 0.85;
      border-radius: 4px;
      z-index: 10;

      @media only screen and (max-width: 680px) {
        width: 100vw;
      }

      &__close {
        @include position(absolute, $top:10px, $right:10px);
        cursor: pointer;
      }
  }

//HOLIDAYS

.holidays-resp-wrapper {

  @include flexbox;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  &__icon {

    @include size(30px);
    padding: 0 10px 2px 10px;
    cursor: pointer;
    @media only screen and (max-width: 320px) {
      @include size(20px);
      padding: 0 5px 2px 5px;
    }
  }

  &__text {
    color: red;
    font-size: 13px;
    cursor: pointer;
    @media only screen and (max-width: 320px) {
      font-size: 12px;
    }
  }
}

/* HOLIDAYS */
  
.upcoming-holidays-wrapper {
  @include inline-flex;
  color: white;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  position: relative;
}

#collapsible_holidays {
  @include position(absolute, $bottom: -165px, $right: 0px);
  width: 250px;
  height: 150px;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
}

.collapsible_holidays-text {
  padding: 0 7px 0 7px;
}

#expand-holidays {
  @include size(15px);
  padding-left: 5px;
  cursor: pointer;
}

 /* HOLIDAYS RESPONSIVE*/

 #expand-holidays-responsive {
  @include flexbox;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#expand-holidays-resp-text {
  color: red;
  font-size: 13px;
  cursor: pointer;
}

#collapsible_holidays_responsive {
  @include position(fixed, $top:0, $right:0, $bottom:0, $left:0);
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  background-color: black;
  opacity: 0.85;
  border-radius: 4px;
  z-index: 10;
}

#collapsible_holidays_responsive_close {
  @include position(absolute, $top:10px, $right:10px);
  cursor: pointer;
}



