 /* QUOTES*/
  
 #quotes_text {
    opacity: 0.7;
    color: white;
    font-size: 1.1rem;
    font-family: cursive;
    font-style: italic;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    align-items: center;
  }

  /* WELCOME*/
  
  .welcome_texts {
    color: yellow;
    display: inline-block;
  }

/* SHOW CLASS */

  .show {
    display: block;
  }

/* LISTS AND ICONS */
  
   .icon-task {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .icons_done {
    margin-left: 8px;
    display: none;
  }
  
  #task_list,
  #task_list_output {
    padding-inline-start: 0px;
  }
  
  #task_list > li,
  #task_list_output > li {
    display: inline-block;
  }
  
  #task_list_output > li {
    border-bottom: solid 0.3px #f2f2f2;
  }

/* CHECKBOX STYLE */

#checkbox_todo {
    margin-left: 7px;
  }

// ROTATE ICONS AND DAY-TYPE ICON

#left-change-day {
    transform: rotate(90deg);
    margin-right: 7px;
    opacity: 0.7;
    cursor: pointer;
    @include size(16px);
}
  
#right-change-day {
    transform: rotate(-90deg);
    opacity: 0.7;
    cursor: pointer;
    @include size(16px); 
}

#type-day-icon {
  @include size(44px);
    padding-right: 7px;
  }

//CLOSE BUTTONS

  #close-form {
    padding: 7px;
    width: 90%;
  }

  .close-save {
    @include button;
    width: 30%;
    background-color: #9896a4;
    border-radius: 20px;
    margin-top: 5px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
  }